@model Models.CurrencyConversion[];
<br/>
<h2>History</h2>
<table id="conversions" class="table">
    <thead>
    <tr>
        <th>Date</th>
        <th>Source</th>
        <th>Target</th>
        <th>Value</th>
        <th>Result</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var conversion in Model) {
        <tr>
            <td>@conversion.Date.ToString("MMMM d yyyy")</td>
            <td>@conversion.Source</td>
            <td>@conversion.Target</td>
            <td>@conversion.Value</td>
            <td>@conversion.Result</td>
        </tr>
    }
    </tbody>
</table>